@using Models.EF;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_ClientLayout.cshtml";
    List<Branch> branches = (List<Branch>)ViewData["branches"];
    List<Product> products = (List<Product>)ViewData["products"];
}

@section Header{
    <link href="~/Assets/Client/css/home.css" rel="stylesheet" />
    <script src="~/Assets/Client/js/jquery-1.11.0.min.js"></script>
}

<!--banner-starts-->
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="~/Assets/Client/images/bnr-1.jpg" alt="" />
            </li>
            <li>
                <img src="~/Assets/Client/images/bnr-2.jpg" alt="" />
            </li>
            <li>
                <img src="~/Assets/Client/images/bnr-3.jpg" alt="" />
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<!--banner-ends-->
<!--Slider-Starts-Here-->
<script src="~/Assets/Client/js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<!--End-slider-script-->
<!--about-starts-->
<div class="about">
    <div class="container">
        <div class="about-top grid-1">
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/Assets/Client/images/abt-1.jpg" alt="" />
                    <figcaption>
                        <h2>Nulla maximus nunc</h2>
                        <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/Assets/Client/images/abt-2.jpg" alt="" />
                    <figcaption>
                        <h4>Mauris erat augue</h4>
                        <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/Assets/Client/images/abt-3.jpg" alt="" />
                    <figcaption>
                        <h4>Cras elit mauris</h4>
                        <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--about-end-->
<!--product-starts-->
<div class="product">
    <div class="container">
        <div class="product-top">
            @{
                int numberOfRows = products.Count / 4;
                if (numberOfRows == 0)
                {
                    numberOfRows = 1;
                }
                for (int i = 0; i < numberOfRows; i++)
                {
                    <div class="product-one">
                        @{
                    int j = products.Count - 4 * (numberOfRows - i);
                    if (j < 0)
                    {
                        j = 0;
                    }
                    int limit = 4 * (i + 1);
                    if (limit > products.Count)
                    {
                        limit = products.Count;
                    }
                    for (; j < limit; j++)
                    {
                        Product product = products[j];
                        string imagePath = WatchShop.Common.Constants.IMAGE_PATH + product.Image;
                        <div class="col-md-3 product-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="@Url.Action("Detail", "Product", "Customer")" class="mask"><img class="img-responsive zoom-img" src="@imagePath" style="height:250px" /></a>
                                <div class="product-bottom">
                                    <h3>@product.Name</h3>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">@product.Price VNĐ</span></h4>
                                </div>
                                <div class="srch">
                                    <span>-@product.Discount%</span>
                                </div>
                            </div>
                        </div>
                    }
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>
<!--product-end-->
<!--information-starts-->
<div class="information">
    <div class="container">
        <div class="infor-top">
            <div class="col-md-3 infor-left">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
                    <li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
                    <li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3>Information</h3>
                <ul>
                    <li><a href="#"><p>Specials</p></a></li>
                    <li><a href="#"><p>New Products</p></a></li>
                    <li><a href="#"><p>Our Stores</p></a></li>
                    <li><a href="contact.html"><p>Contact Us</p></a></li>
                    <li><a href="#"><p>Top Sellers</p></a></li>
                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3>My Account</h3>
                <ul>
                    <li><a href="account.html"><p>My Account</p></a></li>
                    <li><a href="#"><p>My Credit slips</p></a></li>
                    <li><a href="#"><p>My Merchandise returns</p></a></li>
                    <li><a href="#"><p>My Personal info</p></a></li>
                    <li><a href="#"><p>My Addresses</p></a></li>
                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3>Store Information</h3>
                <h4>
                    The company name,
                    <span>Lorem ipsum dolor,</span>
                    Glasglow Dr 40 Fe 72.
                </h4>
                <h5>+955 123 4567</h5>
                <p><a href="mailto:example@email.com">contact@example.com</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--information-end-->